.wrapper {
    --search-border-radius: 92px;
    --search-top-spacer: 9px;
    --search-height: 46px;
    height: var(--default-layout-header-height);
    width: 100%;
    box-shadow: 0 1px 1px #e2e2e2;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #fff;
}
.inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}
.logo {
    margin-top: 6px;
    width: 300px;
}

//action
.action {
    display: flex;
    align-items: center;
    // font-size: 1.1rem;
    padding: 4px 12px;
}
.faplus {
    margin-right: 8px;
}
.faPaperPlane {
    font-size: 1.3rem;
    margin-left: 18px;
    margin-top: 6px;
    cursor: pointer;
}
.faBell {
    font-size: 1.3rem;
    margin-left: 18px;
    margin-top: 6px;
    cursor: pointer;
}
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 22px;
    cursor: pointer;
}
// custom riêng chọ nút getapp
.custom-getapp {
    color: violet;
}

.threedots {
    font-size: 1.4rem;
    margin-left: 16px;
    margin-right: 20px;
    padding: 0 8px;
    background-color: transparent;
    cursor: pointer;
}
//
.faPaperPlane {
    background-color: transparent;
}
.faBell {
    background-color: transparent;
}

.tippy {
    inset: 0px auto auto 0px;
}
