@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: TikTokFont;
    src: url('/assets/Fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: TikTokFont;
    src: url('/assets/Fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: TikTokFont;
    src: url('/assets/Fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: TikTokFont;
    src: url('/assets/Fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}
:root {
    --primary: #fe2c55;
    --default-layout-header-height: 60px;
    --default-layout-weight: 1150px;
    --textColor: #333;
    --white: #ffffff;
    --black: #161823;
    --primary-hover: #ef2a51;
    --outline-primary-hover: #fff4f5;
    --outline-black-hover: #f8f8f8;
    --boder-outline-black: #1618231f;
    --font-family: 'TikTokFont', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62, 5%;
}

body {
    font-family: var(--font-family);
    font-size: 0.8rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
// scrollBar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 4px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    // background-color: rgba(42, 45, 62, 0.06);
    background-color: rgb(108, 77, 77);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--textColor);
    text-decoration: none;
}

// tippy tooltip
body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        color: #fff;
        border-radius: 8px;
        font-size: 1rem;
        line-height: 1.4rem;
        outline: 0;
    }
    :root {
        inset: 0px auto auto 6px;
    }
    .tippy {
        inset: 0px auto auto -3px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow {
        top: -1px;
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
}
